{% load static %}

<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>Covid Test Service</title>

  <!-- Favicon -->
  

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'website/plugins/bootstrap/css/bootstrap.min.css' %}">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{% static 'website/plugins/icofont/icofont.min.css' %}">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="{% static 'website/plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'website/plugins/slick-carousel/slick/slick-theme.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'website/css/style.css'  %}">

</head>

<body id="top">

<header>
	<div class="header-top-bar">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<ul class="top-bar-info list-inline-item pl-0 mb-0">
						<li class="list-inline-item"><a href="mailto:support@gmail.com"><i class="icofont-support-faq mr-2"></i>rapidtestservice@gmail.com</a></li>
						<li class="list-inline-item"><i class="icofont-location-pin mr-2"></i>Dhaka, Bangladesh </li>
					</ul>
				</div>
				<div class="col-lg-6">
					<div class="text-lg-right top-right-bar mt-2 mt-lg-0">
						<a href="tel:+23-345-67890" >
							<span>Call Now : </span>
							<span class="h4">823-4565-13456</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<nav class="navbar navbar-expand-lg navigation" id="navbar">
		<div class="container">
		
		 	 <a class="navbar-brand" href="{% url 'HomeView'   %}">
			    <Strong>Covid Test Service</Strong> 
			  </a>

		  	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
			<span class="icofont-navigation-menu"></span>
		  </button>
	  
		  <div class="collapse navbar-collapse" id="navbarmain">
			<ul class="navbar-nav ml-auto">
			  {% if request.user.is_authenticated %}
			  <li class="nav-item active">
				<a class="nav-link" href="{% url 'NGOProfileView'   %}">Home</a>
			  </li> 
			  {% else %}
			  <li class="nav-item active">
				<a class="nav-link" href="{% url 'HomeView'   %}">Home</a>
			  </li>
			  {% endif %}
			   <li class="nav-item"><a class="nav-link" href="{% url 'AboutView'   %}">About</a></li>
			    <!--<li class="nav-item"><a class="nav-link" href="service.html">Contact US</a></li>-->

			    {% if request.user.is_authenticated %}
			      <li class="nav-item dropdown">
					  <a class="nav-link dropdown-toggle" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.name }}<i class="icofont-thin-down"></i></a>
					  <ul class="dropdown-menu" aria-labelledby="dropdown02">
						<li><a class="dropdown-item" href="{% url 'RequestList'   %}">See Request List</a></li>
						<li><a class="dropdown-item" href="{% url 'EditProfileView'   %}">Edit Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'DeleteProfileView'   %}">Delete Profile</a></li>						
						<li><a class="dropdown-item" href="{% url 'LogoutView'   %}">Log out</a></li>
					 </ul>
			  	  </li>
				  {% else %}
				  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User <i class="icofont-thin-down"></i></a>
					<ul class="dropdown-menu" aria-labelledby="dropdown02">
						
						<li><a class="dropdown-item" href="{% url 'SignupView'   %}">NGO Sign Up</a></li>
                        <li><a class="dropdown-item" href="{% url 'LoginView'   %}">NGO Log in </a></li>						
						<li><a class="dropdown-item" href="{% url 'LogoutView'   %}">NGO Log out</a></li>
						
					</ul>
			   	  </li>
				{% endif %}

			  	<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">NGO <i class="icofont-thin-down"></i></a>
					<ul class="dropdown-menu" aria-labelledby="dropdown03">
						<li><a class="dropdown-item" href="{% url 'NGOListView'  %}">Brows NGO list</a></li>
						
					</ul>
			  	</li>

			   
			   <li class="nav-item"><a class="nav-link" href="{% url 'ContactView'  %}">Contact</a></li>
			</ul>
		  </div>
		</div>		
	</nav>
	
</header>
	
{% block content %}


{%  endblock %}

<!-- footer Start -->
<footer class="footer section gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<div class="logo mb-4">
						<strong> Covid Test Service</strong>
					</div>
					<p>Tempora dolorem voluptatum nam vero assumenda voluptate, facilis ad eos obcaecati tenetur veritatis eveniet distinctio possimus.</p>

					<ul class="list-inline footer-socials mt-4">
						<li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="icofont-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/themefisher"><i class="icofont-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/"><i class="icofont-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

		

			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Support</h4>
					<div class="divider mb-4"></div>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Company Support </a></li>
						<li><a href="#">FAQuestions</a></li>
						<li><a href="#">Company Licence</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Get in Touch</h4>
					<div class="divider mb-4"></div>

					<div class="footer-contact-block mb-4">
						<div class="icon d-flex align-items-center">
							<i class="icofont-email mr-3"></i>
							<span class="h6 mb-0">Support Available for 24/7</span>
						</div>
						<h4 class="mt-2"><a href="tel:+23-345-67890">Support@email.com</a></h4>
					</div>

					<div class="footer-contact-block">
						<div class="icon d-flex align-items-center">
							<i class="icofont-support mr-3"></i>
							<span class="h6 mb-0">Mon to Fri : 08:30 - 18:00</span>
						</div>
						<h4 class="mt-2"><a href="tel:+23-345-67890">+23-456-6588</a></h4>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-btm py-4 mt-5">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-6">
					<div class="copyright">
						&copy; Copyright Reserved to <span class="text-color">Covid Test Service</span> by <a href="https://themefisher.com/" target="_blank">Themefisher</a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="subscribe-form text-lg-right mt-5 mt-lg-0">
						<form action="#" class="subscribe">
							<input type="text" class="form-control" placeholder="Your Email address">
							<a href="#" class="btn btn-main-2 btn-round-full">Subscribe</a>
						</form>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<a class="backtop js-scroll-trigger" href="#top">
						<i class="icofont-long-arrow-up"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>

   

    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="{% static 'website/plugins/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="{% static 'website/plugins/bootstrap/js/popper.js'  %}"></script>
    <script src="{% static 'website/plugins/bootstrap/js/bootstrap.min.js'  %}"></script>
    <script src="{% static 'website/plugins/counterup/jquery.easing.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'website/plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'website/plugins/counterup/jquery.waypoints.min.js' %}"></script>
    
    <script src="{% static 'website/plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'website/plugins/counterup/jquery.counterup.min.js' %}"></script>
    <!-- Google Map -->
   <!---- <script src="{% static 'website/plugins/google-map/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    -->
    
    <script src="{% static 'website/js/script.js' %}"></script>
    <script src="{% static 'website/js/contact.js'  %}"></script>

  </body>
  </html>
   