{% extends 'base.html' %}

{% load static %}


{% block content %}
<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">All Listed NGO</span>
          <h1 class="text-capitalize mb-5 text-lg">Find NGO Around you for Covid-19 Rapid Test</h1>

           <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="{% url 'HomeView'   %}" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">All NGO</a></li>
          </ul> 
        </div>
      </div>
    </div>
  </div>
</section>


<!-- portfolio -->
<section class="section doctors">
  <div class="container">
  	  <div class="row justify-content-center">
             <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h2>NGO Listing</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>We provide a wide range of creative services adipisicing elit. Autem maxime rem modi eaque, voluptate. Beatae officiis neque </p>
                </div>
            </div>
        </div>

      <div class="col-12 text-center  mb-5">
	       <!---- <div class="btn-group btn-group-toggle " data-toggle="buttons">-->
				<label class="btn active ">
					<a href="#" class="btn btn-main-2 btn-round-full mt-3">All Cities</a>
					<!--<input type="radio" name="shuffle-filter" value="all" checked="checked" />All Cities-->
					<div class="row shuffle-wrapper portfolio-gallery">
						<div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat1&quot;,&quot;cat2&quot;]">
							<!--<button class="w3-bar-item w3-button" onclick="openCity('London')">London</button>-->
					  </div>
					 </div>	
					 
				  </label>

				  {% for Division in Division_list %}
	          <label class="btn "> 
				<!--<li><a class="dropdown-item" href="{{ Division.division }}">{{ Division.division }}</a></li>	-->	
	            <a href="{{ Division.division }}" class="btn btn-main-2 btn-round-full mt-3">{{ Division.division }}</a>
				
			 </label>
			  {% endfor %}
		
	          
	        <!--</div>-->
      </div>

	  <div class="row shuffle-wrapper portfolio-gallery">
		<div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat1&quot;,&quot;cat2&quot;]">
		{% if NGO_list  %}
		{% for NGO in NGO_list %}
		<div class="doctor-inner-box">
			<div class="doctor-profile">
			   <div class="doctor-img">
				
				<img src="{% static 'website/images/team/pic.jpg' %}" alt="doctor-image" class="img-fluid w-100">
				
			   </div>
			</div>
			<div class="content mt-3">
				<h4 class="mb-0"><a href="{% url 'NGODetailView_2'  NGO.user.pk  %}">{{ NGO.user.name }}</a></h4>
				<p>{{ NGO.ngo_division }}</p>
			</div> 
		  </div>
		  {% endfor %}

		  {% else %}
					<h3 style="color: #62B2FF">There are no enlisted NGOs for now.</h3>
		  {% endif %}
	  </div>
</div>	



      

  </div>
</section> 


<!-- /portfolio -->

{% endblock %}
