{% extends 'base.html' %}

{% load static %}


{% block content %}
<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Request List</span>
          <h1 class="text-capitalize mb-5 text-lg">Find the requests came for you NGO</h1>

           <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="{% url 'HomeView'   %}" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">All Requests</a></li>
          </ul> 
        </div>
      </div>
    </div>
  </div>
</section>


<!-- portfolio -->
<section class="section doctors">
  <div class="container">
  	
    <h5 style="text-align:center;"> Request List (First come First Served ) : </h5><br><br>
		{% if requests  %}
		{% for request in requests %}
		<div class="position-relative doctor-inner-box">
		  <div class="content mt-10">
				<!--<h4 class="mb-0"><a href="{{ NGO.user.pk }}">{{ NGO.user.name }}</a></h4>-->
				        <br><p style="text-align:center;"><strong>Name : {{ request.name }}</strong></p>
                <p style="text-align:center;"><strong> Email: {{ request.email }}</strong></p>
                <p style="text-align:center;"><strong> Phone : {{ request.phone  }}</strong></p>
                <p style="text-align:center;"><strong>Address : {{ request.address }}</strong></p>
                <p style="text-align:center;"><a href="{% url 'DeleteRequest' request.pk  %}" class="btn btn-danger">Delete Request</a><br></p>
			</div> 
		</div>
		  {% endfor %}

		  {% else %}
					<h3 style="color: #62B2FF">There are no enlisted requests for now.</h3>
		  {% endif %}
	</div>
</section> 


<!-- /portfolio -->

{% endblock %}
